// colors
$title: #437284;
$btn1: #438943;
$btn2: #42d042;
$white: #fff;
$grey: rgb(234, 232, 232);
$red: red;

* {
    line-height: 2em;
}

h4 {
    color: $title;
}


input {
    height: 2em;
    width: 200px;
    border: 1px solid $grey;
    padding-left: .5em;
}

.close {
    margin-left: 2em;
    cursor: pointer;

    &:hover {
        color: $red;
    }
}

button {
    background-color: $btn1;
    color: $white;
    padding: .3em .5em;
    border-radius: .2em;
margin: 1em 0;
    &hover {
        background-color: $btn2;
    }
}